<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> MAC Flooding Attack Dectection </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='a', placeholder="Enter IP Source"> <br><br>
            Second value :  <input type="text", name='b', placeholder="Enter IP Destination"> <br><br>
            Third value :  <input type="text", name='c', placeholder="Enter Ethernet Address"> <br><br>
            Fourth value : <input type="text", name='d', placeholder="Enter Ethernet Destination"> <br><br>
            Fifth value : <input type="text", name='e', placeholder="Enter Frame Time (Relative)"> <br><br>
            Sixth value : <input type="text", name='f', placeholder="Enter Frame Time (Delta)"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\background.jpg' alt="kinchun_background">
        
    </center>

    </body>
</html>
