<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
	<h3>Comparison Score for Selection Model </h3>
	<h1> <div class="grid-item">{{ data }}</div>
	<br>
	<h3>Accuracy for Train Dataset:</h3>
	<div class="grid-item">{{ data2 }}</div>
	<br>
	<h3>Confusion Matrix for Train Dataset:</h3>
	<div class="grid-item">{{ data3 }}</div>
	<br>
	<br>
	<h3>Classification Report for Train Dataset</h3>
	<div class="grid-item">{{ data4 }}</div>
	<br>
	<img class="grid-item" src={{ uri }}></img>
	</h1>




        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>






